{% extends 'base.html' %}
{% block content %}
<!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">
<br>
        <div class="section-title">

          <h3><span class="text-bg-primary">CASOR</span><span class="text-bg-danger"> FECP </span><span class="text-bg-info">CHAPTER</span></h3>
          <p>Christ Ambarsador Students Out Reach Federal College of Education Pankshin Chapter.</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
            <img src="static/images/casorlogo.jpeg" class="img-fluid" alt="">
              <img src="static/images/fceplogo.png" class="img-fluid" alt="">

          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <h3> Who We Are</h3>
            <p class="fst-italic">
              CASOR (Christ Ambassadors Students Outreach) is the campus ministry of Assemblies of God Nigeria. It is a unique ministry that focuses on winning souls, discipleship and training them to be world changers, while getting their education for the future. Being in CASOR helps you, not only to conquer the odds on campus but to excel as a student, and prepares you for a phenomenal resourceful life in the larger society.
              CASOR is a family where everybody, background notwithstanding, is somebody and Jesus is LORD of all! We are unique. Yea, we are!              
            </p>
            <ul>
              <li>
                
                <div>
                  <h5>About Our Name </h5>
                  <p>
                    CASOR derives its name and commission from Apostle Paul’s word in 2Cor 5:19-20
                    “…that God was in Christ, reconciling the world unto himself, not imputing their trespasses unto them; and hath committed unto us the word of reconciliation. Now then we are ambassadors for Christ, as though God did beseech you by us: we pray you in Christ’s stead, be ye reconciled to God.” 
                    Having a living relationship with Christ, we see our mission on campus to be more than just schooling. We are divinely located on campuses as strong witnesses of Christ, making Him manifest by our lives and our words. Through our commission, people get reconciled to God and equally get built up in Him and empowered to fulfil their divine placement in time and eternity.  We are Christ’s Ambassadors! 
                    
                    Our motto is, “…reconciling our generation to God.”
                    We are servants of divine purpose!
                    </p>
                </div>
              </li>
              <li>
                <div>
                  <h5>Why We Reach Students:</h5>
                  <p>
                    <ol>
                    <li>To connect with individuals who would not otherwise encounter a biblical message of Jesus Christ:
                      A good number of those deciding to become followers of Christ through the efforts of students and staff in CASOR have had no previous exposure to the Gospel of Jesus or a Christian church.
                      </li>
                    <li>To impact our world’s most influential institution, the college and university campus:
                      The social, scientific, and spiritual theories of today’s campuses will become the accepted norm for tomorrow’s schools, businesses and television programs. What Nigeria is and what it will become is directly related to what happens on its university campuses. As a nation’s campuses go, so goes the nation. No more shall we idly sit and blame others for the woes in our society and the globe. We shall influence a positive change by influencing the very machinery that orders the pace and direction the society and the globe go.
                      </li>
                    <li>  To reach all the members of our tertiary institution in Nigeria and beyond with the gospel:
                      Witnessing to students on campus, especially those from gospel closed blocks, is an opportunity of a life time. It is like bending a plant when it is still tender. On campus, these students, who would tomorrow become the key role players in those closed blocks and beyond, are at our doorstep to share our faith with them. When we share our faith with them, we indirectly sow seed that would positively impact such areas and beyond. More, reaching the tertiary institutions in Nigeria is as good as reshaping the mindset of Nigeria for good.
                      </li>
                    <li>To raise an army of God’s special envoy that shall penetrate the nations of the world as bi-vocation missionaries:
                      There are nations that traditional missionaries cannot enter. Yet, these nations throw their gates open to experts. Thus, the only option towards reaching such nations is by raising Christ Ambassadors, who are themselves tested and proven experts that can deliver unusual results in their fields. Their skill becomes the access into such countries. But while there, their main mission is that of winning souls and raising strong Disciples of Christ that can carry on the work once they are spotted out or deported. It is also for such purpose that capacity building activities are given full encouragement in CASOR Ministry.
                      </li>
                    </ol>
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
{% endblock %}
